#manage{
  >.manager{
    flex-direction: column;
    width: 100%;
    >.head{
      padding: 0.8rem 0;
      width: 100%;
      >span{
        margin-left: 2rem;
        font-size: 1.05rem;
        >b{
          margin: 0 0.3rem;
          color: #ff333b;
          font-size: 1.1em;
        }
      }
      >button{
        margin: 0 2rem 0 auto;
        background: #4f6eff;
        &:hover{
        background: #4661e2;
        }
        color: white;
        font-size: 1.04rem;
        padding: 0.3rem 0.8rem;
        box-shadow: 0 0 0.5rem #9e9e9e;
      }
    }
    >.add{
      .main{
        flex-direction: column;
        width: 30rem;
        >b{
          font-size: 1.1rem;
          padding: 1rem;
        }
        >.udl-ipt{
          margin: 1rem 0;
          width: 50%;
          >input{
            padding: 0.7rem 0.4rem;
            font-size: 1.06rem;
          }
        }
        >button{
          margin: 3rem 0 1rem 0;
          background: #ff7201;
          font-size: 1.1rem;
          &:hover{
          background: #e36501;
          }
          color: white;
          box-shadow: 0 0 0.8rem #9a9a9a;
        }
      }
    }
    >.list{
      width: calc(100% - 2rem);
      padding: 1rem;
      justify-content: center;
      >table{
        max-width: 60rem;
        width: 100%;
        >tbody{
          td{
            &.frz{
              color: #d63b3c;
            }
            &.free{
              color: #0020ff;
            }
            >button{
              margin: 0 0.2rem;
              color: white;
              &.frz{
                background: #4840ff;
                &:hover{
                  background: #4039e3;
                }
              }
              &.free{
                background: #0cc600;
                &:hover{
                  background: #0bae00;
                }
              }
              &.del{
                background: #d6484c;
                &:hover{
                  background: #be4043;
                }
              }
            }
          }
        }
      }
    }
  }
}