@import "../plugin/public";
#manage{
  >.self{
    flex-direction: column;
    >b{
      font-size: 1.6rem;
      padding: 1rem 0;
    }
    >.row{
      margin: 1rem 0;
      border-bottom: 1px solid gray;
      width: 100%;
      justify-content: start;
      >b{
        width: 5rem;
        font-size: 1rem;
      }
      >span{
        &.frz{
          color: #ff211e;
        }
        &.free{
          color: #2422ff;
        }
      }
      >.udl-ipt{
        >input{
          font-size: 1rem;
          padding: 0.4rem 0.2rem;
        }
      }
    }
    >button{
      margin-top: 1rem;
      padding: 0.3rem 0.8rem;
      background: #7e1bff;
      font-size: 1.05rem;
      &:hover{
        background: #7218e6
      }
      color: white;
      box-shadow: 0 0 0.6rem gray;
    }
  }
}